


@{
    ViewData["Title"] = "Manage Items";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-3">
        @Html.Partial("_Sidebar")
    </div>
    <div class="col-md-9">

    </div>
</div>
