@{
    ViewData["Title"] = "Edit Customer Acc";
    Layout = "~/Areas/Admin/Views/Shared/ManageCustomer.cshtml";
}

<h2>Add Product</h2>
<div class="container-fluid">
    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="customerName"> Customer Name</label>
                    <input type="text" class="form-control" id="customerName" name="CustomerName" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="phoneNumber">Phone Number</label>
                    <input type="text" class="form-control" id="phoneNumber" name="PhoneNumber" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="emailAddress">Email Address</label>
                    <input type="text" class="form-control" id="emailAddress" name="EmailAddress" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="joindate">Category</label>
                    <select class="form-control" id="category" name="Category">
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="price">Price</label>
                    <input type="text" class="form-control" id="price" name="Price" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="discount">Discount</label>
                    <input type="text" class="form-control" id="discount" name="Discount" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="quantity">Quantity</label>
                    <input type="text" class="form-control" id="quantity" name="Quantity" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="createdDate">Join Date</label>
                    <input type="text" class="form-control" id="joinDate" name="JoinDate" />
                </div>
            </div>
        </div>

        <div class="form-group text-center">
            <button type="button" class="btn btn-danger">Delete</button>
            <button type="button" class="btn btn-secondary">Cancel</button>
            <button type="submit" class="btn btn-success">Save</button>
        </div>
    </form>
</div>

<style>
    .form-group {
        margin-bottom: 20px;
    }

        .form-group label {
            font-weight: bold;
        }

        .form-group input,
        .form-group select {
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }

        .form-group img {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .form-group button {
            margin: 5px;
            width: 100px;
        }
</style>
