@{
    ViewData["Title"] = "Dasboard";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@*.
    Done by: Ann
    INFT 3050 Web Programming
    Comments: This code is the Admin area home page, with links to the manage pages for Customer, Employee, GroceryItem
    and Website Banner Images.
*@

<style>
    .card {
        height: 250px; 
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .card-img-top {
        width: 100%;
        height: 150px; 
        object-fit: cover;
    }

    .card-text {
        font-size: 14px; 
    }
</style>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 mb-4">
            <a href="@Url.Action("ManageItem", "Home", new { area = "Admin" })" class="text-decoration-none">
                <div class="card">
                    <img src="~/images/pic1.png" class="card-img-top" alt="Manage Item" style=" margin-left:auto; margin-right:auto;width:30%">
                    <div class="card-body">
                        <h5 class="card-title">Manage Item</h5>
                        <p class="card-text">
                            The Manage Item page is an administrative interface for managing inventory.
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-6 mb-4">
            <a href="@Url.Action("ManageCustomerAcc", "Home", new { area = "Admin" })" class="text-decoration-none">
                <div class="card">
                    <img src="~/images/pic2.png" class="card-img-top" alt="Manage Customer Account" style=" margin-left:auto; margin-right:auto;width:30%">
                    <div class="card-body">
                        <h5 class="card-title">Manage Customer Account</h5>
                        <p class="card-text">
                            The Manage Customer Account page is designed for administrators to oversee and manage customer accounts efficiently.
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-4">
            <a href="@Url.Action("ManageEmployee", "Home", new { area = "Admin" })" class="text-decoration-none">
                <div class="card">
                    <img src="~/images/pic3.png" class="card-img-top" alt="Manage Employee Account" style=" margin-left:auto; margin-right:auto;width:30%">
                    <div class="card-body">
                        <h5 class="card-title">Manage Employee Account</h5>
                        <p class="card-text">
                            The Manage Employee Account page is designed for administrators to efficiently manage employee accounts.
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-6 mb-4">
            <a href="@Url.Action("ManageWebsite", "Home", new { area = "Admin" })" class="text-decoration-none">
                <div class="card">
                    <img src="~/images/pic4.png" class="card-img-top" alt="Manage Website" style=" margin-left:auto; margin-right:auto;width:30%">
                    <div class="card-body">
                        <h5 class="card-title">Manage Website</h5>
                        <p class="card-text">
                            The Manage Page is an administrative interface for managing various content elements on the website, including adding banners and advertisement pictures.
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>