@{
    ViewData["Title"] = "About Us";
}
/*jkagsfjkgasjkgfdjgs
skjfjksaf
*/
<div class="homepage">
    <main class="main-content">
        <section class="about-us">
            <h2>About Us</h2>
            <p>Welcome to Universal Grocery! We are your trusted online supermarket, committed to providing you with the freshest and highest quality products directly to your doorstep.</p>
            <p>Founded in 2020, our mission is to make grocery shopping easy, convenient, and enjoyable for everyone. We offer a wide range of products, including fresh vegetables and fruits, beverages, meats, seafood, dairy products, frozen foods, snacks, household items, and pet foods.</p>
            <p>Our team is dedicated to sourcing the best products and ensuring that you have a seamless shopping experience. Thank you for choosing Universal Grocery as your go-to online supermarket. We look forward to serving you!</p>
        </section>
    </main>
</div>

<style>
    .homepage {
        display: flex;
        justify-content: center;
    }

    .main-content {
        width: 80%;
        padding: 20px;
    }

    .about-us {
        padding: 20px;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

        .about-us h2 {
            font-size: 1.5em;
            margin-bottom: 20px;
        }

        .about-us p {
            font-size: 1em;
            line-height: 1.6;
            color: #333;
        }
</style>
