@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Our Universal Grocery </h1>
    <p>Universal Grovery Design <a href="https://www.figma.com/design/WVyTxOafqAnMnEar8Ke5TA/Untitled?m=dev&node-id=0-1&t=lzrBQFEZ44jy67JV-1">Figma Design Link</a>.</p>
</div>
