<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Your Application</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebAppProject.styles.css" asp-append-version="true" />
    <style>
        .admin-profile {
            display: flex;
            align-items: center;
        }

        .greeting {
            margin-right: 10px;
            text-align: right;
        }

        .admin-image {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }

        .navbar-custom {
            background-color:white;
            color: black;
        }

            .navbar-custom .navbar-brand,
            .navbar-custom .navbar-nav > li > a {
                color: black;
            }
    </style>
</head>
<body>
    <nav class="navbar navbar-custom navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Your Application</a>
            </div>
            <div class="navbar-right">
                <div class="admin-profile">
                    <span class="greeting">Hello, Admin1<br /><small>Have a nice day</small></span>
                    <img src="~/images/admin1.png" alt="Admin" class="admin-image" />
                </div>
            </div>
        </div>
    </nav>
    <div class="container body-content" style="padding-top: 70px;">
        <div class="row">
            <div class="col-md-2">
                @Html.Partial("_Sidebar")
            </div>
            <div class="col-md-10">
                @RenderBody()
            </div>
        </div>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
